/venv/**

/venv/**

# any node modules and dependencies 
# also in nested folders
# Remove from git tracking
/node_modules/**
/npm-debug.log*
/yarn-debug.log*


# now python venv
/.venv/**
/.venv/**
/venv/**
/venv/**
/vevn/**